.ab-first-sec {
    width: 100vw;
    background: linear-gradient(90deg, #E8F7B9, #FEA38F);
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vh 0;
    font-family: SofiaPro;
}

.ab-first-sec div:nth-child(1) {
    padding-top: 3vh;
    font-size: 36px;
    text-transform: uppercase;
    font-family: PlayfairDisplay;
}

.ab-first-sec div:nth-child(2) {
    font-size: 22px;
    font-family: SofiaPro;
    padding-top: 2vh;
    padding-bottom: 3vh;
}

.ab-center {
    padding: 2vh 5vw;
}

.ab-picture {
    width: calc(420px * 1vw);
    /* height: calc(556px * 0.5); */
    padding: 2vh 0;
}

.ab-picture img {
    width: 100%;
    height: auto;
}

.ab-center2 {
    padding: 4vh 7vw;
    text-align: center;
}

.ab-center2 div:nth-child(1) {
    padding: 2vh 15vw;
}

.ab-center2 div:nth-child(3) {
    padding: 2vh 0;
}

div.ab-center2 > div:nth-child(1) {
    font-size: 28px;
    font-family: PlayfairDisplay;
}

div.ab-center2 > div:nth-child(2) {
    font-size: 22px;
    color: #637eeb;
    padding: 10px 0;
}

div.ab-center2 > div:nth-child(3) {
    color: gray;
    font-size: 18px;
}

.ab-long-text-component {
    width: 90vw;
    height: 46vh;
    background-color: #F5F7FA;
    color: #637eeb;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.ab-long-text-component > div {
    width: 80%;
    text-align: center;
}

@media only screen and (min-width: 1024px){

    .ab-first-sec div:nth-child(1) {
        font-size: 60px;
    }

    .ab-second-sec {
        width: 85vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 7.5vw;
    }

    .ab-center2 {
        width: 50%;
        padding: 5vh 2vw;
        text-align: start;
    }
    
    .ab-center2 div:nth-child(1) {
        padding: 2vh 0;
    }
    
    .ab-center2 div:nth-child(3) {
        padding: 2vh 0;
    }

    .ab-picture {
        width: 30%;
        padding: 2vh 0;
    }

    div.ab-center2 > div:nth-child(1) {
        font-size: 45px;
    }

    div.ab-center2 > div:nth-child(2) {
        font-size: 35px;
        color: #637eeb;
        padding: 10px 0;
    }

    div.ab-center2 > div:nth-child(3) {
        color: gray;
        font-size: 20px;
    }

    .ab-design-process {
        /* height: 90vh; */
    }

    section.ab-long-text-component > div {
        width: 60%;
        font-size: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .ab-picture {
        width: 30%;
        padding-top: 7vh;
    }
}

