.con-desc {
    width: 100vw;
    background: linear-gradient(90deg, #FA94CA, #F6ECD4);
    color: white;
    padding: 5vh 0;
    text-align: center;
}

.con-h1 {
    font-size: 36px;
    font-family: PlayfairDisplay;
}

.con-h3 {
    font-size: 24px;
    font-family: "Sofia Pro";
    padding-top: 2vh;
}

.con-form-container {
    width: 100vw;
    background: linear-gradient(#fff, #d9e9e9, #DFE5E5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #878a8f;
}

.con-form-container-inner {
    padding-top: 5vh;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

label, input {
    margin: 0;
    padding: 0;
}

label {
    padding-bottom: 1vh;
}

input, textarea {
    width: 98%;
    border: 1px solid #fff;
    resize: vertical;
    font-size: 18px;
    margin-bottom: 3vh;
    padding: 1vh 1vw;
    color: grey;
  }

  textarea {
      font-family: sans-serif;
  }

  textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba(16, 19, 36, 0.8);
    /* box-shadow: 0 1px 1px rgba(16, 19, 36, 0.8) inset, 0 0 8px rgba(16, 19, 36, 0.8); */
    outline: 0 none;
}

  textarea {
    height: 250px;
  }

  .con-btn {
    background-color: #21222E;
    width: 50vw;
    border-radius: 40px;
    border: 3px solid transparent;
    padding: 10px 0;
    font-size: 20px;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 5vh;
    transition: background-color 0.3s ease;
  }

.con-btn:hover {
    background-color: #ffffff;
    color: #21222E;
}  

.con-picture {
    padding: 5vh 0;
    width: 100vw;
    margin-bottom: 4vh;
    text-align: center;
}

.con-picture img {
    width: 85%;
    height: auto;
}

.con-picture figcaption {
    padding: 0 10vw;
    padding-top: 2vh;
}

.con-picture figcaption span {
    font-weight: bold;
}

@media only screen and (min-width: 768px) {

    .con-h1 {
        font-size: 60px;
        padding-top: 3vh;
    }

    .con-h3 {
        font-size: 22px;
        padding-top: 2vh;
        padding-bottom: 3vh;
    }

    .con-form-container {
        width: 100vw;
        height: 110vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .con-form-container-inner {
        height: 90%;
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 5vw;
    } 
    
    input, textarea {
        width: 100%;
    }
    
      textarea {
        height: 250px;
    }
    
      .con-btn {
        max-width: 250px;
        margin: 0;
        margin-bottom: 5vh;
      }
    
    .con-picture {
        width: calc(280px * 1.4);
        padding-right: 5vw;
    }

    .con-picture img {
        width: 100%;
        height: auto;
    }

    .con-picture figcaption {
        padding: 0;
        padding-top: 2vh;
    }
}

@media only screen and (min-width: 1500px) {
    .con-form-container {
        height: 90vh;
    }
}