.coo-container {
    width: 100vw;
    height: 35vh;
    background: linear-gradient(90deg,#DAFAFF, #80AFF8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7.5vh 0;
}

.coo-h1 {
    font-size: 36px;
    font-family: PlayfairDisplay;
    padding-bottom: 3vh;
}

.coo-h2 {
    font-size: 22px;
    padding-bottom: 4vh;
}

.coo-container > div, .coo-container > button {
    text-align: center;
}

.coo-container > a > button {
    background-color: #AFDEFC;
    border: 2px solid white;
    border-radius: 30px;
    height: 50px;
    width: 45vw;
    max-width: 230px;
    color: white;
    font-size: 18px;
    transition: background-color 0.06s 0.06s ease-in-out;
}

.coo-container > a > button:hover {
    background-color: #21222E;
    border: 2px solid #21222E;
}

@media only screen and (min-width: 768px) {
    .coo-h1 {
        display: flex;
        font-size: 55px;
    }
    
    .coo-h2 {
        display: flex;
        font-size: 26px;
    }

    .coo-container > a > button {
        height: 60px;
        max-width: 220px;
        font-size: 18px;
    }
}

@media only screen and (min-width: 1024px) {
    .coo-h1 {
        display: flex;
        font-size: 45px;
    }
    
    .coo-h2 {
        display: flex;
        font-size: 30px;
    }

    .coo-container > a > button {
        height: 60px;
        max-width: 250px;
        font-size: 18px;
    }
}

@media only screen and (min-width: 1500px) {
    .coo-container {
        height: 30vh;
        padding: 10vh 0;
    }
}