#ini-id {
  position: fixed;
  left: 0;
  top: 10vh;
  height: 110vh;
  width: 100vw;
  background-color: transparent;
  z-index: 5;
}

.ini-main {
    position: fixed;
    height: 90vh;
    width: 84vw;
    top: 10vh;
    left: 0;
    background: linear-gradient(45deg, #4178CB, #CD84DF, #FEC3CD);
    background-size: 400%, 400%;
    /* transform: translateY(10vh); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: animate 8s ease-in-out infinite; 
    z-index: 5;
    overflow: hidden;
    padding: 0 8vw;
  }

  .ini-img-container-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 25vh;
    width: 100vw;
    background-color: white;
    /* z-index: 100; */
  }

  .ini-img-container {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(calc(50vw - (calc(39.4px * 4)/2)), calc(12.5vh - (calc(28px * 4)/2)));
    height: calc(28px * 4);
    width: calc(39.4px * 4);
    /* z-index: 9; */
  }

  .ini-img-container img {
      width: 100%;
      height: auto;
  }

  
  .ini-spec {
    font-size: 34px;
    font-family: "Playfair Display";
    font-weight: 500;
    text-align: center;
    color: white;
  }
  
  .ini-btn {
    height: 45px;
    width: 60%;
    max-width: 250px;
    color: white;
    background: transparent;
    border: 3px solid white;
    border-radius: 50px;
    font-size: 22px;
    transition: background-color 0.2s ease;
  }

  .ini-btn:hover {
    background-color: #21222E;
    border: 3px solid #21222E;
  }

  @keyframes animate {
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }    
  }


  @media (max-width: 350px) {
    .ini-who {
      font-size: 30px;
    }
    
    .ini-spec {
      font-size: 22px;
    }
    
    .ini-btn {
      font-size: 22px;
    }
  }

  .ini-footer {
    display: none;
  }
  
@media only screen and (min-width: 768px){
  .ini-main {
    height: 80vh;
  }
  .ini-footer {
    display: block;
    position: fixed;
    top: 90vh;
    left: 0;
    z-index: 1;
  }
}

@media only screen and (min-width: 1024px){
  .ini-main {
    width: 100vw;
    height: 65vh;
    top: 25vh;
    padding: 0 0;
  }

  .ini-spec {
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 40px;
  }

  .ini-btn {
    height: 60px;
  } 

  .ini-btn {
    font-size: 26px;
  }  
}

@media only screen and (max-width: 1024px){
  .ini-img-container-wrapper{
    display: none;
  }
}


