.next-container {
    width: 100vw;
    /* height: 42vh; */
    background-color: #21222E;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.next-nata {
    font-size: 60px;
    font-family: PlayfairDisplay;
    padding: 2vh 0;
    padding-top: 8vh;
}

#next-id button {
    background-color: #2c2d35;
    border: 2px solid white;
    border-radius: 30px;
    height: 50px;
    width: 45vw;
    max-width: 230px;
    color: white;
    font-size: 18px;
    transition: background-color 0.06s 0.06s ease-in-out;
    margin: 4vh 0;
    margin-bottom: 10vh;
}

#next-id button:hover {
    background-color: #fff;
    color: #2c2d35;
    border: 2px solid #21222E;
}

@media only screen and (max-width: 768px){
    .next-nata {
        font-size: 40px;
        padding: 0 5vw;
        padding-top: 8vh;
    }
}

@media only screen and (min-width: 768px){
    #next-id button {
        height: 60px;
        max-width: 250px;
        font-size: 18px;
    }
}