.sk-title {
    padding: 3vh 10vw;
    padding-top: 7vh;
    font-size: 30px;
    color: #21222E;
    /* font-family: PlayfairDisplay; */
    text-align: center;
}

.sk-desc {
    padding: 2vh 10vw;
    font-size: 20px;
    color: #707070;
    /* font-family: "Sofia Pro"; */
    text-align: center;
}

.sk-svg-desktop {
    display: none;
}

.sk-svg-mobile {
    width: 90%;
    margin: auto;
    padding: 5vh 0;
    text-align: center;
}

div.sk-svg-mobile > img {
    width: 90%;
    height: auto;
}

@media only screen and (min-width: 1024px) {

    .sk-title {
        text-align: start;
    }

    .sk-desc {
        text-align: start;
        padding-right: 30vw;
    }

    .sk-svg-mobile {
        display: none;
    }

    .sk-svg-desktop {
        display: block;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    div.sk-svg-desktop > img {
        width: 70%;
        height: auto;
        padding: 5vh 0;
        padding-bottom: 8vh;
    }
}