.web-first-sec {
    width: 100vw;
    height: 20vh;
    background: linear-gradient(90deg,#DAFAFF, #80AFF8);
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 5vh 0;
}

.web-first-sec div:nth-child(1) {
    font-size: 36px;
    text-transform: uppercase;
}

.web-fs-text-mobile {
    font-size: 16px;
}

.web-fs-text-dekstop {
    display: none;
}

.web-img-container-mobile {
    width: 100%;
    padding-bottom: 4vh;
}

.web-img-container-mobile img {
    width: 100%;
    height: auto;
}

.web-second-sec {
    padding: 3vh 5vw;
    background-color: white;
    text-align: center;
    box-shadow: 0px 6px 6px #00000029;
}

section.web-second-sec div:nth-child(1) {
    padding-top: 5vh;
    font-size: 28px;
    color: #21222E;
}

section.web-second-sec div:nth-child(2), 
section.web-second-sec div:nth-child(3){
    padding: 4vh 0;
    font-size: 22px;
    color: #62799D;
}

section.web-second-sec div:nth-child(4) {
    color: #5876ED;
    font-size: 20px;
    padding-top: 2vh;
}

section.web-second-sec div:nth-child(5) {
    color: #62799D;
    font-size: 20px;
    padding: 4vh 0;
}

.web-second-sec-desc-desktop {
    display: none;
}

.web-background-img-dekstop, .web-background-img-dekstop-wrapper {
    display: none;
}

.web-dekstop-empty-space {
    display: none;
}

.web-third-sec {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #F5F7FA;
    color: #62799D;
    font-size: 20px;
    text-align: center;
}

.web-third-sec-item {
    padding: 3vh 7vw;
}

.web-third-sec-item div {
    padding: 1vh 0;
}

.web-third-sec-item div:nth-child(1) {
    font-size: 26px;
}

.web-third-sec div.web-third-sec-item:nth-child(1) div:nth-child(2) {
    font-size: 23px;
}

.web-4-sec {
    width: 100vw;
    text-align: center;
    background-color: white;
}

.web-4-sec div div:nth-child(1) {
    color: #21222E;
    font-size: 26px;
    padding-top: 8vh;
    padding-left: 7vw;
    padding-right: 7vw;
}

.web-4-sec div div:nth-child(2) {
    color: #62799D;
    font-size: 20px;
    padding-top: 4vh;
    padding-left: 7vw;
    padding-right: 7vw;
}

.web-4-sec-img-mobile {
    width: 100vw;
    padding-top: 5vh;
}

.web-4-sec-img-mobile img {
    width: 100%;
    height: auto;
}

.web-4-sec-img-desktop {
    display: none;
}

.web-5-sec {
    background-color: #62799D;
    color: white;
    padding: 5vh 7vw;
    text-align: center;
}

div.web-5-item1 div {
    padding: 2vh 0;
}

div.web-5-item1 div:nth-child(1){
    font-size: 30px;
}

div.web-5-item1 div:nth-child(2){
    font-size: 20px;
}

div.web-5-item2 div {
    padding-bottom: 3vh;
}

.web-5-item2 {
    display: none;
}

.web-6-sec {
    width: 100vw;
    background-color: white;
    text-align: center;
}

.web-6-sec div div:nth-child(1) {
    padding: 0 7vw;
    padding-top: 6vh;
    color: #21222E;
    font-size: 26px;
}

.web-6-sec div div:nth-child(2) {
    padding: 4vh 7vw;
    color: #62799D;
    font-size: 20px;
}

.web-6-sec figcaption {
    padding-bottom: 4vh;
    color: #A9A6A6;
    font-size: 20px;
}    

.web-6-sec-img-wrapper {
    width: 100vw;
}

.web-6-sec-img-wrapper img {
    width: 100%;
    height: auto;
}

.web-7-sec {
    background-color: #F5F7FA;
    text-align: center;
}

.web-7-sec div {
    padding: 1.5vh 7vw;
}

.web-7-sec div:nth-child(1) {
    padding-top: 6vh;
    font-size: 26px;
    color: #21222E;
}

.web-7-sec div:nth-child(2) {
    font-size: 22px;
    color: #62799D;
}

.web-7-sec div:nth-child(3) {
    font-size: 20px;
    color: #62799D;
}

div.web-7-sec-img-mobile {
    width: 86vw;
    padding: 6vh 7vw;
}

.web-7-sec-img-mobile img {
    width: 100%;
    height: auto;
}

section.web-7-sec div.web-7-sec-img-dekstop {
    display: none;
}

.web-8-sec {
    width: 84vw;
    background-color: #fff;
    padding: 10vh 8vw;
    color: #5876ED;
    font-size: 22px;
    text-align: center;
}

.web-9-sec {
    width: 86vw;
    padding: 0 7vw;
    color: #62799D;
    background-color: #fff;
}

.web-9-sec div div:nth-child(1){
    font-size: 26px;
    color: #21222E;
    padding: 3vh 0;
}

.web-9-sec div div:nth-child(2){
    font-size: 22px;
    padding-bottom: 4vh;
}

.web-9-sec div div:nth-child(3){
    font-size: 20px;
    padding-bottom: 4vh;
    margin: 0 3vw;
}

section.web-9-sec div:nth-child(1) {
    text-align: center;
}

.web-9-sec-gif {
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.web-9-sec-gif img {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 1024px) {
    .web-fs-text-mobile {
        display: none;
    }

    .web-fs-text-dekstop {
        display: block;
    }

    .web-first-sec div:nth-child(1) {
        font-size: 55px;
    }
    
    .web-first-sec div:nth-child(2) {
        font-size: 30px;
    }

    .web-img-container-mobile {
        display: none;
    }

    .web-background-img-dekstop-wrapper {
        display: block;
        position: fixed;
        top: 6vh;
        left: 0;
        z-index: 0;
        width: 100vw;
    }

    .web-background-img-dekstop {
        display: block;
        width: 77%;
        margin: 0 auto;
    }

    .web-background-img-dekstop img {
        width: 100%;
        height: auto;
    }

    .web-dekstop-empty-space {
        display: block;
        height: 100vh;
        width: 100vw;
        background-color: transparent;
    }

    section.web-second-sec {
        text-align: start;
        padding: 4vh 7vw;
    }

    section.web-second-sec div:nth-child(1) {
        font-size: 50px;
    }

    section.web-second-sec div:nth-child(3) {
        font-size: 35px;
    }

    section.web-second-sec div:nth-child(4) {
        font-size: 30px;
    }

    section.web-second-sec div:nth-child(5) {
        font-size: 25px;
        padding-right: 15vw;
    }

    .web-second-sec-desc-mobile {
        display: none;
    }

    .web-second-sec-desc-desktop {
        display: block;
    }

    .web-third-sec {
        display: flex;
        flex-direction: row;
        text-align: start;
    }

    .web-third-sec-item {
        width: 50%;
        font-size: 25px;
        padding: 5vh 8vw;
    }

    .web-third-sec-item div:nth-child(1) {
        font-size: 50px;
    }

    .web-third-sec div.web-third-sec-item:nth-child(1) div:nth-child(2) {
        font-size: 34px;
    }

    .web-4-sec {
        display: flex;
        text-align: start;
    }

    .web-4-sec div div:nth-child(1) {
        width: 50%;
        font-size: 50px;
    }

    .web-4-sec div div:nth-child(2) {
        font-size: 25px;
    }    

    .web-4-sec-img-mobile {
        display: none;
    }

    .web-4-sec-img-desktop {
        display: block;
        width: 100vw;
        padding-top: 5vh;
    }
    
    .web-4-sec-img-desktop img {
        width: 100%;
        height: auto;
    }

    .web-5-sec {
        display: flex;
        font-size: 25px;
        width: 100vw;
        text-align: start;
    }

    .web-5-item1 {
        width: 50%;
        padding-bottom: 6vh;
    }

    .web-5-item1 div:nth-child(1) {
        font-size: 50px;
    }

    .web-5-item1 div:nth-child(2) {
        font-size: 25px;
    }

    .web-5-item2 {
        display: block;
        width: 50%;
        padding: 10vh 6vw;
    }

    .web-5-item2 div:nth-child(2) {
        color: #91A1BA;
    }
    
    .web-5-item2 div:nth-child(even) {
        font-size: 35px;
    }

    .web-6-sec {
        display: flex;
        text-align: start;
    }

    .web-6-sec div:nth-child(1) {
        width: 50%;
        font-size: 25px;
    }

    .web-6-sec div div:nth-child(1) {
        font-size: 50px;
    }
    
    .web-6-sec div div:nth-child(2) {
        font-size: 25px;
    }

    .web-6-sec-img-wrapper {
        width: 40%;
        margin: 0 auto;
        padding-top: 5vh;
        text-align: center;
    }

    section.web-7-sec {
        width: 100vw;
        text-align: start;
    }

    section.web-7-sec div:nth-child(1) {
        font-size: 50px;
    }

    section.web-7-sec div:nth-child(2) {
        font-size: 35px;
    }

    section.web-7-sec div:nth-child(3) {
        padding-right: 20vw;
        font-size: 25px;
    }

    section.web-7-sec div.web-7-sec-img-mobile {
        display: none;
    }

    section.web-7-sec div.web-7-sec-img-dekstop {
        display: block;
        width: 86vw;
        padding-top: 5vh;
        padding-bottom: 7vh;
    }

    section.web-7-sec div.web-7-sec-img-dekstop img {
        width: 100%;
        height: auto;
    }

    .web-8-sec {
        width: 76vw;
        padding: 11vh 12vw;
        font-size: 35px;
    }

    .web-9-sec {
        display: flex;
        text-align: start;
    }

    .web-9-sec div:nth-child(1) {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .web-9-sec div div:nth-child(1){
        font-size: 26px;
        color: #21222E;
        padding-top: 10vh;
    }
    
    .web-9-sec div div:nth-child(2){
        font-size: 22px;
        padding-bottom: 4vh;
    }
    
    .web-9-sec div div:nth-child(3){
        margin: 0 0;
        text-align: start;
        padding-bottom: 4vh;
    }
}

@media only screen and (max-width: 350px) {
    .web-4-sec div:nth-child(1) {
        font-size: 24px;
    }
    
    
    .web-4-sec div:nth-child(2) {
        font-size: 16px;
    }
}    